body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#DDA0DD;
	color:#00FFFF;
	}
	
h1 {
	font-size:32px;
	color:#00FFFF;
	background-color:#DDA0DD;
	}
	
h2 {
	font-size:28px;
	color:#00FFFF;
	background-color:#DDA0DD;
	}
h3 {
	font-size:24px;
	color:#00FFFF;
	background-color:#DDA0DD;
	}
h4, h5, h6 {
	font-size:18px;
	color:#00FFFF;
	background-color:##DDA0DD;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#ffffff;
	}
